*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(151deg, rgba(241,115,198,1) 25%,rgba(254,107,150,1) 75%);
    color:#fff;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    place-content: center;
}
div{
    text-align: center;
}
.OL{
    margin-bottom: 3.5rem;
}
.LL{
    font-size: 12rem;
    margin-bottom: 4rem;
    font-weight: bold;
}
div p{
    font-size: 1.25rem;
}
h1{
    font-size: 1.25rem;
    margin-bottom: 4rem;
}
div p a{
    color: #fff;
}

